  <div class='d-flex align-items-center justify-content-center'>
    <h2>Hello World</h2>
    <div>
      <% if @user %>
        Logged in as <%= @user.email %>

        <div>
          <%= button_to "Logout", log_out_path, method: :delete %>
        </div>
      <% end %>
    </div>
    <p>
      The time is now: <%= Time.now %>
    </p>
    <p>Check out the code for this site on 
      <a 
        href='https://github.com/Isaac-Tait/rubyOnRailsApp'
        class=''
        target="_blank" 
        rel="noopener noreferrer" 
      >GitHub</a>.
    </p>
  </div>